body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 24px;
}

h1 {
    font-family: 'brush script MT', cursive;
    color: #ef9a45;
    font-size: 48px;
}

ul {
    list-style-type: none;
    font-weight:bolder;
    }
     
a {
    text-decoration: none;
    color: saddlebrown;
    
}

