body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 14px;
    
}

h1 {
    font-family: 'brush script MT', cursive;
    background-color: oo#F4C79B;
    
}

ul {
    list-style-type: none;
}